@import url('https://fonts.googleapis.com/css?family=Rajdhani:wght@600');

#main
{
   height: 100%;
   width: 100%;
   background-color: var(--bg-color);
   display: flex;
   flex-direction: column;
}

.content
{
   color: purple;
   font-family: Rajdhani;
   font-size: 40px;
   font-weight: bolder;
   padding: 200px 60px 200px;
   width: 600px;
}

.fancy-text
{
   font-size: 50px;
   font-weight: bolder;
}