.foot
{
    display: flex;
    flex-direction: column;
    color: purple;
    align-items: center;
    font-family: var(--font-family);
    font-weight: bolder;
    background-color: black;
    z-index: 1;
}

.footer
{
    font-size: 20px;
}